main{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;


    h2,p,b{
        margin: 10px 20px;
        color: #fff;
    }

    p{
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 30px;
    }

    b{
        color: rgb(106,66,234);
        font-size: 24px;
        position: absolute;
        bottom: 20px;
    }
}

