header{

    img{
        margin-right: 10px;
    }

    .logo{
        font-weight: 600;
        font-size: 26px;
    }

    .shopCartButton{
        font-size: 30px;
        float:right;
        cursor: pointer;
        transition: color 500ms ease;

        &:hover,
        &.active{
            color: #4000ff;
        }
    }

    .shopCart{
        position: absolute;
        top:30px;
        right: 0;
        width: 450px;
        min-height: 100px;
        background: #3500D3;
        z-index:1000;
        box-shadow: 18px 20px 19px 2px rgba(0,0,0,0.75);
        -webkit-box-shadow: 18px 20px 19px 2px rgba(0,0,0,0.75);
        -moz-box-shadow: 18px 20px 19px 2px rgba(0,0,0,0.75);
    }

    .nav{
        float:right;
        list-style: none;
        margin-top: 5px;


        li{
            display: inline;
            margin-left: 25px;
            cursor: pointer;
            font-size: 18px;
            font-weight: 500;
            transition: opacity 500ms ease;

            &:hover{
                opacity: 0.5;
            }
        }
    }

    .presentation{
        margin: 50px 0;
        background: url("../../assets/banner.png");
        width: 100%;
        height: 500px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        border-radius: 15px;

    
        &::after{
            content: 'Все игры недоступные в РФ в наличии';
            color: #fff;
            position: absolute;
            top:220px;
            left:80px;
            width: 440px;
            font-size: 40px;
        }

        &::before{
            content: 'По низкой цене';
            color: #fff;
            position: absolute;
            top:330px;
            left: 80px;
            font-size: 36px;

        }
    }

    

}